{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://www.googleapis.com/plusDomains/v1"
        }
    ],
    "info": {
        "contact": {
            "name": "Google",
            "url": "https://google.com"
        },
        "description": "Builds on top of the Google+ platform for Google Apps Domains.",
        "title": "Google+ Domains",
        "version": "v1",
        "x-apiClientRegistration": {
            "url": "https://console.developers.google.com"
        },
        "x-apisguru-categories": [
            "social"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_developers.google.com_+_images_branding_g+128.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.31"
                },
                "format": "google",
                "url": "https://www.googleapis.com/discovery/v1/apis/plusDomains/v1/rest",
                "version": "v1"
            }
        ],
        "x-preferred": true,
        "x-providerName": "googleapis.com",
        "x-serviceName": "plusDomains"
    },
    "externalDocs": {
        "url": "https://developers.google.com/+/domains/"
    },
    "tags": [
        {
            "name": "activities"
        },
        {
            "name": "audiences"
        },
        {
            "name": "circles"
        },
        {
            "name": "comments"
        },
        {
            "name": "media"
        },
        {
            "name": "people"
        }
    ],
    "paths": {
        "/activities/{activityId}": {
            "get": {
                "description": "Get an activity.",
                "operationId": "plusDomains.activities.get",
                "parameters": [
                    {
                        "description": "The ID of the activity to get.",
                        "in": "path",
                        "name": "activityId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "access": {
                                            "description": "Identifies who has access to see this activity.",
                                            "properties": {
                                                "description": {
                                                    "description": "Description of the access granted, suitable for display.",
                                                    "type": "string"
                                                },
                                                "domainRestricted": {
                                                    "description": "Whether access is restricted to the domain.",
                                                    "type": "boolean"
                                                },
                                                "items": {
                                                    "description": "The list of access entries.",
                                                    "items": {
                                                        "properties": {
                                                            "displayName": {
                                                                "description": "A descriptive name for this entry. Suitable for display.",
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "description": "The ID of the entry. For entries of type \"person\" or \"circle\", this is the ID of the resource. For other types, this property is not set.",
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "The type of entry describing to whom access is granted. Possible values are:  \n- \"person\" - Access to an individual. \n- \"circle\" - Access to members of a circle. \n- \"myCircles\" - Access to members of all the person's circles. \n- \"extendedCircles\" - Access to members of all the person's circles, plus all of the people in their circles. \n- \"domain\" - Access to members of the person's Google Apps domain. \n- \"public\" - Access to anyone on the web.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "kind": {
                                                    "default": "plus#acl",
                                                    "description": "Identifies this resource as a collection of access controls. Value: \"plus#acl\".",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "actor": {
                                            "description": "The person who performed this activity.",
                                            "properties": {
                                                "clientSpecificActorInfo": {
                                                    "description": "Actor info specific to particular clients.",
                                                    "properties": {
                                                        "youtubeActorInfo": {
                                                            "description": "Actor info specific to YouTube clients.",
                                                            "properties": {
                                                                "channelId": {
                                                                    "description": "ID of the YouTube channel owned by the Actor.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "displayName": {
                                                    "description": "The name of the actor, suitable for display.",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "The ID of the actor's Person resource.",
                                                    "type": "string"
                                                },
                                                "image": {
                                                    "description": "The image representation of the actor.",
                                                    "properties": {
                                                        "url": {
                                                            "description": "The URL of the actor's profile photo. To resize the image and crop it to a square, append the query string ?sz=x, where x is the dimension in pixels of each side.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "name": {
                                                    "description": "An object representation of the individual components of name.",
                                                    "properties": {
                                                        "familyName": {
                                                            "description": "The family name (\"last name\") of the actor.",
                                                            "type": "string"
                                                        },
                                                        "givenName": {
                                                            "description": "The given name (\"first name\") of the actor.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "url": {
                                                    "description": "The link to the actor's Google profile.",
                                                    "type": "string"
                                                },
                                                "verification": {
                                                    "description": "Verification status of actor.",
                                                    "properties": {
                                                        "adHocVerified": {
                                                            "description": "Verification for one-time or manual processes.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "address": {
                                            "description": "Street address where this activity occurred.",
                                            "type": "string"
                                        },
                                        "annotation": {
                                            "description": "Additional content added by the person who shared this activity, applicable only when resharing an activity.",
                                            "type": "string"
                                        },
                                        "crosspostSource": {
                                            "description": "If this activity is a crosspost from another system, this property specifies the ID of the original activity.",
                                            "type": "string"
                                        },
                                        "etag": {
                                            "description": "ETag of this response for caching purposes.",
                                            "type": "string"
                                        },
                                        "geocode": {
                                            "description": "Latitude and longitude where this activity occurred. Format is latitude followed by longitude, space separated.",
                                            "type": "string"
                                        },
                                        "id": {
                                            "description": "The ID of this activity.",
                                            "type": "string"
                                        },
                                        "kind": {
                                            "default": "plus#activity",
                                            "description": "Identifies this resource as an activity. Value: \"plus#activity\".",
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "The location where this activity occurred.",
                                            "properties": {
                                                "address": {
                                                    "description": "The physical address of the place.",
                                                    "properties": {
                                                        "formatted": {
                                                            "description": "The formatted address for display.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "displayName": {
                                                    "description": "The display name of the place.",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "The id of the place.",
                                                    "type": "string"
                                                },
                                                "kind": {
                                                    "default": "plus#place",
                                                    "description": "Identifies this resource as a place. Value: \"plus#place\".",
                                                    "type": "string"
                                                },
                                                "position": {
                                                    "description": "The position of the place.",
                                                    "properties": {
                                                        "latitude": {
                                                            "description": "The latitude of this position.",
                                                            "format": "double",
                                                            "type": "number"
                                                        },
                                                        "longitude": {
                                                            "description": "The longitude of this position.",
                                                            "format": "double",
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "object": {
                                            "description": "The object of this activity.",
                                            "properties": {
                                                "actor": {
                                                    "description": "If this activity's object is itself another activity, such as when a person reshares an activity, this property specifies the original activity's actor.",
                                                    "properties": {
                                                        "clientSpecificActorInfo": {
                                                            "description": "Actor info specific to particular clients.",
                                                            "properties": {
                                                                "youtubeActorInfo": {
                                                                    "description": "Actor info specific to YouTube clients.",
                                                                    "properties": {
                                                                        "channelId": {
                                                                            "description": "ID of the YouTube channel owned by the Actor.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "displayName": {
                                                            "description": "The original actor's name, which is suitable for display.",
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "description": "ID of the original actor.",
                                                            "type": "string"
                                                        },
                                                        "image": {
                                                            "description": "The image representation of the original actor.",
                                                            "properties": {
                                                                "url": {
                                                                    "description": "A URL that points to a thumbnail photo of the original actor.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "url": {
                                                            "description": "A link to the original actor's Google profile.",
                                                            "type": "string"
                                                        },
                                                        "verification": {
                                                            "description": "Verification status of actor.",
                                                            "properties": {
                                                                "adHocVerified": {
                                                                    "description": "Verification for one-time or manual processes.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "attachments": {
                                                    "description": "The media objects attached to this activity.",
                                                    "items": {
                                                        "properties": {
                                                            "content": {
                                                                "description": "If the attachment is an article, this property contains a snippet of text from the article. It can also include descriptions for other types.",
                                                                "type": "string"
                                                            },
                                                            "displayName": {
                                                                "description": "The title of the attachment, such as a photo caption or an article title.",
                                                                "type": "string"
                                                            },
                                                            "embed": {
                                                                "description": "If the attachment is a video, the embeddable link.",
                                                                "properties": {
                                                                    "type": {
                                                                        "description": "Media type of the link.",
                                                                        "type": "string"
                                                                    },
                                                                    "url": {
                                                                        "description": "URL of the link.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "fullImage": {
                                                                "description": "The full image URL for photo attachments.",
                                                                "properties": {
                                                                    "height": {
                                                                        "description": "The height, in pixels, of the linked resource.",
                                                                        "format": "uint32",
                                                                        "type": "integer"
                                                                    },
                                                                    "type": {
                                                                        "description": "Media type of the link.",
                                                                        "type": "string"
                                                                    },
                                                                    "url": {
                                                                        "description": "URL of the image.",
                                                                        "type": "string"
                                                                    },
                                                                    "width": {
                                                                        "description": "The width, in pixels, of the linked resource.",
                                                                        "format": "uint32",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "id": {
                                                                "description": "The ID of the attachment.",
                                                                "type": "string"
                                                            },
                                                            "image": {
                                                                "description": "The preview image for photos or videos.",
                                                                "properties": {
                                                                    "height": {
                                                                        "description": "The height, in pixels, of the linked resource.",
                                                                        "format": "uint32",
                                                                        "type": "integer"
                                                                    },
                                                                    "type": {
                                                                        "description": "Media type of the link.",
                                                                        "type": "string"
                                                                    },
                                                                    "url": {
                                                                        "description": "Image URL.",
                                                                        "type": "string"
                                                                    },
                                                                    "width": {
                                                                        "description": "The width, in pixels, of the linked resource.",
                                                                        "format": "uint32",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "objectType": {
                                                                "description": "The type of media object. Possible values include, but are not limited to, the following values:  \n- \"photo\" - A photo. \n- \"album\" - A photo album. \n- \"video\" - A video. \n- \"article\" - An article, specified by a link.",
                                                                "type": "string"
                                                            },
                                                            "previewThumbnails": {
                                                                "description": "When previewing, these are the optional thumbnails for the post. When posting an article, choose one by setting the attachment.image.url property. If you don't choose one, one will be chosen for you.",
                                                                "items": {
                                                                    "properties": {
                                                                        "url": {
                                                                            "description": "URL of the thumbnail image.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "thumbnails": {
                                                                "description": "If the attachment is an album, this property is a list of potential additional thumbnails from the album.",
                                                                "items": {
                                                                    "properties": {
                                                                        "description": {
                                                                            "description": "Potential name of the thumbnail.",
                                                                            "type": "string"
                                                                        },
                                                                        "image": {
                                                                            "description": "Image resource.",
                                                                            "properties": {
                                                                                "height": {
                                                                                    "description": "The height, in pixels, of the linked resource.",
                                                                                    "format": "uint32",
                                                                                    "type": "integer"
                                                                                },
                                                                                "type": {
                                                                                    "description": "Media type of the link.",
                                                                                    "type": "string"
                                                                                },
                                                                                "url": {
                                                                                    "description": "Image url.",
                                                                                    "type": "string"
                                                                                },
                                                                                "width": {
                                                                                    "description": "The width, in pixels, of the linked resource.",
                                                                                    "format": "uint32",
                                                                                    "type": "integer"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "url": {
                                                                            "description": "URL of the webpage containing the image.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "url": {
                                                                "description": "The link to the attachment, which should be of type text/html.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "content": {
                                                    "description": "The HTML-formatted content, which is suitable for display.",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "The ID of the object. When resharing an activity, this is the ID of the activity that is being reshared.",
                                                    "type": "string"
                                                },
                                                "objectType": {
                                                    "description": "The type of the object. Possible values include, but are not limited to, the following values:  \n- \"note\" - Textual content. \n- \"activity\" - A Google+ activity.",
                                                    "type": "string"
                                                },
                                                "originalContent": {
                                                    "description": "The content (text) as provided by the author, which is stored without any HTML formatting. When creating or updating an activity, this value must be supplied as plain text in the request.",
                                                    "type": "string"
                                                },
                                                "plusoners": {
                                                    "description": "People who +1'd this activity.",
                                                    "properties": {
                                                        "selfLink": {
                                                            "description": "The URL for the collection of people who +1'd this activity.",
                                                            "type": "string"
                                                        },
                                                        "totalItems": {
                                                            "description": "Total number of people who +1'd this activity.",
                                                            "format": "uint32",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "replies": {
                                                    "description": "Comments in reply to this activity.",
                                                    "properties": {
                                                        "selfLink": {
                                                            "description": "The URL for the collection of comments in reply to this activity.",
                                                            "type": "string"
                                                        },
                                                        "totalItems": {
                                                            "description": "Total number of comments on this activity.",
                                                            "format": "uint32",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "resharers": {
                                                    "description": "People who reshared this activity.",
                                                    "properties": {
                                                        "selfLink": {
                                                            "description": "The URL for the collection of resharers.",
                                                            "type": "string"
                                                        },
                                                        "totalItems": {
                                                            "description": "Total number of people who reshared this activity.",
                                                            "format": "uint32",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "statusForViewer": {
                                                    "description": "Status of the activity as seen by the viewer.",
                                                    "properties": {
                                                        "canComment": {
                                                            "description": "Whether the viewer can comment on the activity.",
                                                            "type": "boolean"
                                                        },
                                                        "canPlusone": {
                                                            "description": "Whether the viewer can +1 the activity.",
                                                            "type": "boolean"
                                                        },
                                                        "canUpdate": {
                                                            "description": "Whether the viewer can edit or delete the activity.",
                                                            "type": "boolean"
                                                        },
                                                        "isPlusOned": {
                                                            "description": "Whether the viewer has +1'd the activity.",
                                                            "type": "boolean"
                                                        },
                                                        "resharingDisabled": {
                                                            "description": "Whether reshares are disabled for the activity.",
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "url": {
                                                    "description": "The URL that points to the linked resource.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "placeId": {
                                            "description": "ID of the place where this activity occurred.",
                                            "type": "string"
                                        },
                                        "placeName": {
                                            "description": "Name of the place where this activity occurred.",
                                            "type": "string"
                                        },
                                        "provider": {
                                            "description": "The service provider that initially published this activity.",
                                            "properties": {
                                                "title": {
                                                    "description": "Name of the service provider.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "published": {
                                            "description": "The time at which this activity was initially published. Formatted as an RFC 3339 timestamp.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "radius": {
                                            "description": "Radius, in meters, of the region where this activity occurred, centered at the latitude and longitude identified in geocode.",
                                            "type": "string"
                                        },
                                        "title": {
                                            "description": "Title of this activity.",
                                            "type": "string"
                                        },
                                        "updated": {
                                            "description": "The time at which this activity was last updated. Formatted as an RFC 3339 timestamp.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "url": {
                                            "description": "The link to this activity.",
                                            "type": "string"
                                        },
                                        "verb": {
                                            "description": "This activity's verb, which indicates the action that was performed. Possible values include, but are not limited to, the following values:  \n- \"post\" - Publish content to the stream. \n- \"share\" - Reshare an activity.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/plus.login"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/plus.me"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/plus.stream.read"
                        ]
                    }
                ],
                "tags": [
                    "activities"
                ]
            },
            "parameters": [
                {
                    "description": "Data format for the response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Deprecated. Please use quotaUser instead.",
                    "in": "query",
                    "name": "userIp",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/activities/{activityId}/comments": {
            "get": {
                "description": "List all of the comments for an activity.",
                "operationId": "plusDomains.comments.list",
                "parameters": [
                    {
                        "description": "The ID of the activity to get comments for.",
                        "in": "path",
                        "name": "activityId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The maximum number of comments to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
                        "in": "query",
                        "name": "maxResults",
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 500,
                            "default": 20
                        }
                    },
                    {
                        "description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The order in which to sort the list of comments.",
                        "in": "query",
                        "name": "sortOrder",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ascending",
                                "descending"
                            ],
                            "default": "ascending"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "etag": {
                                            "description": "ETag of this response for caching purposes.",
                                            "type": "string"
                                        },
                                        "id": {
                                            "description": "The ID of this collection of comments.",
                                            "type": "string"
                                        },
                                        "items": {
                                            "description": "The comments in this page of results.",
                                            "items": {
                                                "properties": {
                                                    "actor": {
                                                        "description": "The person who posted this comment.",
                                                        "properties": {
                                                            "clientSpecificActorInfo": {
                                                                "description": "Actor info specific to particular clients.",
                                                                "properties": {
                                                                    "youtubeActorInfo": {
                                                                        "description": "Actor info specific to YouTube clients.",
                                                                        "properties": {
                                                                            "channelId": {
                                                                                "description": "ID of the YouTube channel owned by the Actor.",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "displayName": {
                                                                "description": "The name of this actor, suitable for display.",
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "description": "The ID of the actor.",
                                                                "type": "string"
                                                            },
                                                            "image": {
                                                                "description": "The image representation of this actor.",
                                                                "properties": {
                                                                    "url": {
                                                                        "description": "The URL of the actor's profile photo. To resize the image and crop it to a square, append the query string ?sz=x, where x is the dimension in pixels of each side.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "url": {
                                                                "description": "A link to the Person resource for this actor.",
                                                                "type": "string"
                                                            },
                                                            "verification": {
                                                                "description": "Verification status of actor.",
                                                                "properties": {
                                                                    "adHocVerified": {
                                                                        "description": "Verification for one-time or manual processes.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "etag": {
                                                        "description": "ETag of this response for caching purposes.",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "The ID of this comment.",
                                                        "type": "string"
                                                    },
                                                    "inReplyTo": {
                                                        "description": "The activity this comment replied to.",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "description": "The ID of the activity.",
                                                                    "type": "string"
                                                                },
                                                                "url": {
                                                                    "description": "The URL of the activity.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "kind": {
                                                        "default": "plus#comment",
                                                        "description": "Identifies this resource as a comment. Value: \"plus#comment\".",
                                                        "type": "string"
                                                    },
                                                    "object": {
                                                        "description": "The object of this comment.",
                                                        "properties": {
                                                            "content": {
                                                                "description": "The HTML-formatted content, suitable for display.",
                                                                "type": "string"
                                                            },
                                                            "objectType": {
                                                                "default": "comment",
                                                                "description": "The object type of this comment. Possible values are:  \n- \"comment\" - A comment in reply to an activity.",
                                                                "type": "string"
                                                            },
                                                            "originalContent": {
                                                                "description": "The content (text) as provided by the author, stored without any HTML formatting. When creating or updating a comment, this value must be supplied as plain text in the request.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "plusoners": {
                                                        "description": "People who +1'd this comment.",
                                                        "properties": {
                                                            "totalItems": {
                                                                "description": "Total number of people who +1'd this comment.",
                                                                "format": "uint32",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "published": {
                                                        "description": "The time at which this comment was initially published. Formatted as an RFC 3339 timestamp.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "selfLink": {
                                                        "description": "Link to this comment resource.",
                                                        "type": "string"
                                                    },
                                                    "updated": {
                                                        "description": "The time at which this comment was last updated. Formatted as an RFC 3339 timestamp.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "verb": {
                                                        "default": "post",
                                                        "description": "This comment's verb, indicating what action was performed. Possible values are:  \n- \"post\" - Publish content to the stream.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "kind": {
                                            "default": "plus#commentFeed",
                                            "description": "Identifies this resource as a collection of comments. Value: \"plus#commentFeed\".",
                                            "type": "string"
                                        },
                                        "nextLink": {
                                            "description": "Link to the next page of activities.",
                                            "type": "string"
                                        },
                                        "nextPageToken": {
                                            "description": "The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
                                            "type": "string"
                                        },
                                        "title": {
                                            "description": "The title of this collection of comments.",
                                            "type": "string"
                                        },
                                        "updated": {
                                            "description": "The time at which this collection of comments was last updated. Formatted as an RFC 3339 timestamp.",
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/plus.login"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/plus.stream.read"
                        ]
                    }
                ],
                "tags": [
                    "comments"
                ]
            },
            "parameters": [
                {
                    "description": "Data format for the response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Deprecated. Please use quotaUser instead.",
                    "in": "query",
                    "name": "userIp",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Create a new comment in reply to an activity.",
                "operationId": "plusDomains.comments.insert",
                "parameters": [
                    {
                        "description": "The ID of the activity to reply to.",
                        "in": "path",
                        "name": "activityId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "actor": {
                                            "description": "The person who posted this comment.",
                                            "properties": {
                                                "clientSpecificActorInfo": {
                                                    "description": "Actor info specific to particular clients.",
                                                    "properties": {
                                                        "youtubeActorInfo": {
                                                            "description": "Actor info specific to YouTube clients.",
                                                            "properties": {
                                                                "channelId": {
                                                                    "description": "ID of the YouTube channel owned by the Actor.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "displayName": {
                                                    "description": "The name of this actor, suitable for display.",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "description": "The ID of the actor.",
                                                    "type": "string"
                                                },
                                                "image": {
                                                    "description": "The image representation of this actor.",
                                                    "properties": {
                                                        "url": {
                                                            "description": "The URL of the actor's profile photo. To resize the image and crop it to a square, append the query string ?sz=x, where x is the dimension in pixels of each side.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "url": {
                                                    "description": "A link to the Person resource for this actor.",
                                                    "type": "string"
                                                },
                                                "verification": {
                                                    "description": "Verification status of actor.",
                                                    "properties": {
                                                        "adHocVerified": {
                                                            "description": "Verification for one-time or manual processes.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "etag": {
                                            "description": "ETag of this response for caching purposes.",
                                            "type": "string"
                                        },
                                        "id": {
                                            "description": "The ID of this comment.",
                                            "type": "string"
                                        },
                                        "inReplyTo": {
                                            "description": "The activity this comment replied to.",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "The ID of the activity.",
                                                        "type": "string"
                                                    },
                                                    "url": {
                                                        "description": "The URL of the activity.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "kind": {
                                            "default": "plus#comment",
                                            "description": "Identifies this resource as a comment. Value: \"plus#comment\".",
                                            "type": "string"
                                        },
                                        "object": {
                                            "description": "The object of this comment.",
                                            "properties": {
                                                "content": {
                                                    "description": "The HTML-formatted content, suitable for display.",
                                                    "type": "string"
                                                },
                                                "objectType": {
                                                    "default": "comment",
                                                    "description": "The object type of this comment. Possible values are:  \n- \"comment\" - A comment in reply to an activity.",
                                                    "type": "string"
                                                },
                                                "originalContent": {
                                                    "description": "The content (text) as provided by the author, stored without any HTML formatting. When creating or updating a comment, this value must be supplied as plain text in the request.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "plusoners": {
                                            "description": "People who +1'd this comment.",
                                            "properties": {
                                                "totalItems": {
                                                    "description": "Total number of people who +1'd this comment.",
                                                    "format": "uint32",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "published": {
                                            "description": "The time at which this comment was initially published. Formatted as an RFC 3339 timestamp.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "selfLink": {
                                            "description": "Link to this comment resource.",
                                            "type": "string"
                                        },
                                        "updated": {
                                            "description": "The time at which this comment was last updated. Formatted as an RFC 3339 timestamp.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "verb": {
                                            "default": "post",
                                            "description": "This comment's verb, indicating what action was performed. Possible values are:  \n- \"post\" - Publish content to the stream.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/plus.login"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/plus.stream.write"
                        ]
                    }
                ],
                "tags": [
                    "comments"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "actor": {
                                        "description": "The person who posted this comment.",
                                        "properties": {
                                            "clientSpecificActorInfo": {
                                                "description": "Actor info specific to particular clients.",
                                                "properties": {
                                                    "youtubeActorInfo": {
                                                        "description": "Actor info specific to YouTube clients.",
                                                        "properties": {
                                                            "channelId": {
                                                                "description": "ID of the YouTube channel owned by the Actor.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "displayName": {
                                                "description": "The name of this actor, suitable for display.",
                                                "type": "string"
                                            },
                                            "id": {
                                                "description": "The ID of the actor.",
                                                "type": "string"
                                            },
                                            "image": {
                                                "description": "The image representation of this actor.",
                                                "properties": {
                                                    "url": {
                                                        "description": "The URL of the actor's profile photo. To resize the image and crop it to a square, append the query string ?sz=x, where x is the dimension in pixels of each side.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "url": {
                                                "description": "A link to the Person resource for this actor.",
                                                "type": "string"
                                            },
                                            "verification": {
                                                "description": "Verification status of actor.",
                                                "properties": {
                                                    "adHocVerified": {
                                                        "description": "Verification for one-time or manual processes.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "etag": {
                                        "description": "ETag of this response for caching purposes.",
                                        "type": "string"
                                    },
                                    "id": {
                                        "description": "The ID of this comment.",
                                        "type": "string"
                                    },
                                    "inReplyTo": {
                                        "description": "The activity this comment replied to.",
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "description": "The ID of the activity.",
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "description": "The URL of the activity.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "kind": {
                                        "default": "plus#comment",
                                        "description": "Identifies this resource as a comment. Value: \"plus#comment\".",
                                        "type": "string"
                                    },
                                    "object": {
                                        "description": "The object of this comment.",
                                        "properties": {
                                            "content": {
                                                "description": "The HTML-formatted content, suitable for display.",
                                                "type": "string"
                                            },
                                            "objectType": {
                                                "default": "comment",
                                                "description": "The object type of this comment. Possible values are:  \n- \"comment\" - A comment in reply to an activity.",
                                                "type": "string"
                                            },
                                            "originalContent": {
                                                "description": "The content (text) as provided by the author, stored without any HTML formatting. When creating or updating a comment, this value must be supplied as plain text in the request.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "plusoners": {
                                        "description": "People who +1'd this comment.",
                                        "properties": {
                                            "totalItems": {
                                                "description": "Total number of people who +1'd this comment.",
                                                "format": "uint32",
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "published": {
                                        "description": "The time at which this comment was initially published. Formatted as an RFC 3339 timestamp.",
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "selfLink": {
                                        "description": "Link to this comment resource.",
                                        "type": "string"
                                    },
                                    "updated": {
                                        "description": "The time at which this comment was last updated. Formatted as an RFC 3339 timestamp.",
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "verb": {
                                        "default": "post",
                                        "description": "This comment's verb, indicating what action was performed. Possible values are:  \n- \"post\" - Publish content to the stream.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/activities/{activityId}/people/{collection}": {
            "get": {
                "description": "List all of the people in the specified collection for a particular activity.",
                "operationId": "plusDomains.people.listByActivity",
                "parameters": [
                    {
                        "description": "The ID of the activity to get the list of people for.",
                        "in": "path",
                        "name": "activityId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The collection of people to list.",
                        "in": "path",
                        "name": "collection",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "plusoners",
                                "resharers",
                                "sharedto"
                            ]
                        }
                    },
                    {
                        "description": "The maximum number of people to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
                        "in": "query",
                        "name": "maxResults",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 20
                        }
                    },
                    {
                        "description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "etag": {
                                            "description": "ETag of this response for caching purposes.",
                                            "type": "string"
                                        },
                                        "items": {
                                            "description": "The people in this page of results. Each item includes the id, displayName, image, and url for the person. To retrieve additional profile data, see the people.get method.",
                                            "items": {
                                                "properties": {
                                                    "aboutMe": {
                                                        "description": "A short biography for this person.",
                                                        "type": "string"
                                                    },
                                                    "birthday": {
                                                        "description": "The person's date of birth, represented as YYYY-MM-DD.",
                                                        "type": "string"
                                                    },
                                                    "braggingRights": {
                                                        "description": "The \"bragging rights\" line of this person.",
                                                        "type": "string"
                                                    },
                                                    "circledByCount": {
                                                        "description": "For followers who are visible, the number of people who have added this person or page to a circle.",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "cover": {
                                                        "description": "The cover photo content.",
                                                        "properties": {
                                                            "coverInfo": {
                                                                "description": "Extra information about the cover photo.",
                                                                "properties": {
                                                                    "leftImageOffset": {
                                                                        "description": "The difference between the left position of the cover image and the actual displayed cover image. Only valid for banner layout.",
                                                                        "format": "int32",
                                                                        "type": "integer"
                                                                    },
                                                                    "topImageOffset": {
                                                                        "description": "The difference between the top position of the cover image and the actual displayed cover image. Only valid for banner layout.",
                                                                        "format": "int32",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "coverPhoto": {
                                                                "description": "The person's primary cover image.",
                                                                "properties": {
                                                                    "height": {
                                                                        "description": "The height of the image.",
                                                                        "format": "int32",
                                                                        "type": "integer"
                                                                    },
                                                                    "url": {
                                                                        "description": "The URL of the image.",
                                                                        "type": "string"
                                                                    },
                                                                    "width": {
                                                                        "description": "The width of the image.",
                                                                        "format": "int32",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "layout": {
                                                                "description": "The layout of the cover art. Possible values include, but are not limited to, the following values:  \n- \"banner\" - One large image banner.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "currentLocation": {
                                                        "description": "(this field is not currently used)",
                                                        "type": "string"
                                                    },
                                                    "displayName": {
                                                        "description": "The name of this person, which is suitable for display.",
                                                        "type": "string"
                                                    },
                                                    "domain": {
                                                        "description": "The hosted domain name for the user's Google Apps account. For instance, example.com. The plus.profile.emails.read or email scope is needed to get this domain name.",
                                                        "type": "string"
                                                    },
                                                    "emails": {
                                                        "description": "A list of email addresses that this person has, including their Google account email address, and the public verified email addresses on their Google+ profile. The plus.profile.emails.read scope is needed to retrieve these email addresses, or the email scope can be used to retrieve just the Google account email address.",
                                                        "items": {
                                                            "properties": {
                                                                "type": {
[...]
